USE [master]
GO
/****** Object:  Database [HusoDb]    Script Date: 28.05.2025 22:44:12 ******/
CREATE DATABASE [HusoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HusoDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HusoDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HusoDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HusoDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HusoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HusoDb]
GO
/****** Object:  Table [dbo].[Gelir]    Script Date: 28.05.2025 22:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gelir](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Maas] [int] NULL,
	[Tarih] [date] NULL,
	[EkGelir] [int] NULL,
 CONSTRAINT [PK_Gelir] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gider]    Script Date: 28.05.2025 22:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tutar] [int] NULL,
	[Kategori] [nvarchar](500) NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_Gider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gelir] ON 

INSERT [dbo].[Gelir] ([ID], [Maas], [Tarih], [EkGelir]) VALUES (1, 3000, CAST(N'2025-05-27' AS Date), 0)
INSERT [dbo].[Gelir] ([ID], [Maas], [Tarih], [EkGelir]) VALUES (2, 0, CAST(N'2025-05-27' AS Date), 2000)
INSERT [dbo].[Gelir] ([ID], [Maas], [Tarih], [EkGelir]) VALUES (3, 100000, CAST(N'2025-05-27' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Gelir] OFF
GO
SET IDENTITY_INSERT [dbo].[Gider] ON 

INSERT [dbo].[Gider] ([ID], [Tutar], [Kategori], [Tarih]) VALUES (1, 20000, N'Eğitim', CAST(N'2025-05-27' AS Date))
INSERT [dbo].[Gider] ([ID], [Tutar], [Kategori], [Tarih]) VALUES (2, 2423, N'Gıda', CAST(N'2025-05-27' AS Date))
INSERT [dbo].[Gider] ([ID], [Tutar], [Kategori], [Tarih]) VALUES (3, 23232, N'Gıda', CAST(N'2025-05-27' AS Date))
SET IDENTITY_INSERT [dbo].[Gider] OFF
GO
USE [master]
GO
